.consult {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.consult > div {
  display: flex;
  align-items: center;
  /* border: black solid 1px; */
  gap: 15px;
}

.new-form {
  color: var(--bg-color);
  padding: 0.5rem 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  background: linear-gradient(to right, #a4d9ba, var(--primary-color));
  width: 30%;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: var(--font-bold);
}

.backoffice-home h2 {
  font-size: 2rem;
  margin-top: 50px;
}

.backoffice-quiz > div {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
