.banner-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.banner-div {
  border-radius: 5px;
  font-family: var(--font-bold);
  font-size: 1.3rem;
}

.open-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.back-home-button {
  font-size: 20px;
  padding: 8px;
}

.back-home-div {
  padding: 0.3rem 1rem;
  margin: 0.5rem 0px;
  width: 50%;
  box-shadow: 5px 2px 12px rgb(196, 196, 196);
  background: linear-gradient(to right, #f4f5f7, #e7eaed);
}
