.intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 👈 le point clé */
  text-align: center;
  gap: 1.5rem;
  height: 100%; /* important pour le centrage vertical */
}

.intro-title {
  font-size: 2rem;
  font-weight: 800;
  color: var(--text-color-dark);
}

.intro-count {
  font-family: var(--font-bold);
  font-size: 1.4rem;
  color: var(--primary-color);
}
