.question-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 20px;
}

.question-nav .auth-btn {
  /* flex: 1; */
  min-width: 120px;
}

.question-nav .auth-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.question-nav .danger {
  background-color: var(--error-color);
  color: white;
}
