.header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color);
}

.header .container {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 30px;
  background-color: var(--tertiary-color);
  overflow: hidden;
  flex-wrap: wrap;
  gap: 2em;
}

/* Assure que le contenu du header passe bien au-dessus */
.header > * {
  position: relative;
  z-index: 1;
}
