.banner-item-bis {
  width: 30%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-bold);
  font-size: 1.1rem;
  margin: 0.5rem 0px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #e7eaed;
}

.shadowed {
  background: linear-gradient(to right, #f4f5f7, #e7eaed);
  height: 45px;
  box-shadow: 5px 2px 12px rgb(196, 196, 196);
}

.shadowed:hover {
  box-shadow: none;
}

.banner-item-bis div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}

.banner-item-bis > span {
  font-size: 0.8rem;
  color: var(--primary-color);
}
