.create-or-update-quiz-container {
  padding: 2em;
  border-radius: 5px;
  background-color: var(--div-bg-color);
  margin: auto;
}

.create-or-update-quiz-container h2 {
  margin-bottom: 3em;
}

.create-or-update-quiz-container h2 span {
  margin-left: 1em;
  color: var(--primary-color);
}
