.header-CreateOrUpdateQuiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2em 2em;
  margin-top: -30px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  position: sticky;
  top: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content-createOrUpdateQuiz {
  background-color: var(--div-bg-color);
}

.header-CreateOrUpdateQuiz input {
  flex: 1;
  padding: 0.5em;
}
