.question-header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.question-header div:first-child {
  display: flex;
  gap: 2rem;
}

.question-header input {
  flex: 1;
}

.question-header textarea {
  width: 50%;
  height: 150px;
  align-self: center;
}
